
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic'); /* impotrta la fuente de letra desde google font*/
 @import url(menu.css); /* impotrta la hoja de estilo menu*/
 @import url(banner.css);/* impotrta la hoja de estilo banner*/
 @import url(blog.css); /* impotrta la hoja de estilo de blog*/
 @import url(info.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Sawarabi Gothic', sans-serif; /* fuente*/
    color: rgb(15, 2, 73);

}

header{
      width: 100%;
      height: 50px;
      background: rgb(15, 2, 73);
      color: rgb(165, 204, 241);
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

.contenedor{
       width: 98%;
       margin: auto;

}

h1{
    float: left;
}

header .contenedor{
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
}

.copy {
   font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: rgb(15, 2, 73);
    text-decoration: none;

}

@media(min-width:768px){ /* apartir de 768px va tener las siguientes caracteristicas*/
    .sociales{
        width: auto;
    }
    footer .contenedor{
        justify-content: space-between;
    }
}

@media(min-width:1024px){ /* apartir de 1024px va tener las siguientes caracteristicas*/
    .contenedor{
        width: 1000px; /* todo el contenido va ser de 1000px de ancho*/
    }
}


