
.icon-mail:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */